.grid_ {
  margin: auto;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.grid-btn {
  margin: auto;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 18px;
}

.grid-btn-image {
  position: relative;
  top: 10px;
  width: 115px;
  height: 115px;
}
.grid-btn-title {
  position: relative;
  bottom: 18px;
}
